* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato';
    src: url(/fonts/Lato.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Karla';
    src: url(/fonts/Karla.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(/fonts/HelveticaNeueCyr.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url(/fonts/PFDinTextCondPro.ttf);
    font-style: normal;
    font-weight: normal;
}

.main_background {
    width: 100%;
    position: relative;
    height: 600px;
    background: url(/img/background.jpg);
    background-size: cover;
}

.main_background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        87.68deg,
        rgba(255, 255, 255, 0) 7.73%,
        rgba(255, 255, 255, 0.9) 55.76%
    );
    pointer-events: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 72px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    position: relative;
}

.logo {
    display: block;
    width: 250px;
    height: 58px;
}

.nav_link {
    margin-right: 23px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #2f80ed;
    text-decoration: none;
    cursor: pointer;
}

.nav_link:last-child {
    margin-right: 0;
}

.sign_up_btn {
    display: flex;
    width: 210px;
    height: 32px;
    border: 1px solid #2f80ed;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 100px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2f80ed;
    cursor: pointer;
    justify-content: center;
}

.main {
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: flex-end;
    position: relative;
}

.main_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-right: 6%;
    margin-top: 50px;
}

.main_subtitle {
    display: block;
    width: 100%;
    height: 26px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;
    color: #2f80ed;
    margin-right: 136px;
}

.main_title {
    display: block;
    width: 100%;
    height: 110px;
    font-family: PFDinTextCondPro;
    font-size: 50px;
    line-height: 55px;
    text-align: right;
    color: #000000;
    text-align: right;
    margin-left: auto;
}

.main_btn {
    width: 210px;
    height: 32px;
    background: #2f80ed;
    border: 1px solid #2f80ed;
    border-radius: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
    margin-left: auto;
}

.section_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    background: #2f80ed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 45px;
}

.div_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 70%;
}
.phones {
    flex-direction: column;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.contacts_link {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.directions {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.directions_title {
    width: 405px;
    height: 19px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #c4c4c4;
}

.directions_subtitle {
    width: 405px;
    height: 39px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.img_star {
    height: 30px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.kinds_directions {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kind_dir {
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}

.kind_dir[data-trigger-active] .kind_dir__arrow {
    display: block;
}

.brain {
    position: relative;
}
.back {
    position: relative;
}
.bone {
    position: relative;
}

.kind_dir__arrow {
    display: none;
    position: absolute;
    border-top: 45px solid rgba(0, 0, 0, 0.1);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -86px;
    filter: blur(1.3px);
}

.kind_dir__arrow:before {
    content: '';
    border-top: 45px solid #fff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    top: -46px;
    left: -25px;
}

.back {
    border-left: 1px solid #2f80ed;
    border-right: 1px solid #2f80ed;
}

.kind_title {
    display: block;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}

.about_direction {
    height: 572px;
    width: 100%;
    background: #f6f6f6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_about_direction {
    display: none;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.info_about_direction[data-trigger-active] {
    display: flex;
}

.about_info {
    width: 35%;
    height: 90%;
}

.info_about_img {
    width: 35%;
    height: 90%;
}

.info_title {
    display: block;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
}
.info_subtitle {
    display: block;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.info_btn {
    display: block;
    width: 220px;
    height: 44px;
    border: 1px solid #2f80ed;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: block;
    text-align: center;
    color: #2f80ed;
    cursor: pointer;
    margin-right: 35%;
}

.info_img {
    width: 100%;
    height: 70%;
}

.massage {
    display: none;
}

.revmatology {
    display: none;
}

@media (max-width: 1200px) {
    .main_content {
        margin-right: 4%;
    }
    .about_info {
        height: 70%;
    }
    .info_about_img {
        height: 70%;
    }
}

@media (max-width: 991px) {
    .sign_up_btn {
        margin-left: 0;
    }
    .about_info {
        height: 75%;
    }
    .about_direction {
        padding-top: 60px;
    }
}

@media (max-width: 768px) {
    .logo {
        display: block;
        width: 200px;
        height: 45px;
    }
    .nav_link {
        margin-right: 5px;
    }
    .info_img {
        height: 85%;
    }
}
@media (max-width: 576px) {
    .header {
        justify-content: space-around;
    }
    .logo {
        display: block;
        width: 150px;
        height: 40px;
    }
    .nav_link {
        margin-right: 3px;
        font-size: 11px;
        line-height: 13px;
    }
    .sign_up_btn {
        width: 115px;
        height: 43px;
        font-size: 12px;
        line-height: 14px;
    }
    .about_info {
        width: 50%;
    }
    .img_nevrology {
        display: none;
    }
    .img_massage {
        display: none;
    }
    .img_revmatology {
        display: none;
    }
}
